p {
	border: 2px solid blue;

	/* % of parent element */
	width: 50%;

	padding: 10px;

	padding-left: 20px;

	/*top right bottom left*/
	margin: 100px, 30px, 10px, 50px;

	/* top/bottom, right/left*/
	margin: 0, auto;
}